files:
  "/etc/systemd/system/pulr-webapp.service":
    mode: "000644"
    owner: root
    group: root
    content: |
      [Unit]
      Description=This is web daemon
      PartOf=eb-app.target
      After=network.target
      
      [Service]
      User=webapp
      WorkingDirectory=/var/app/current
      ExecStart=/usr/bin/dotnet /var/app/current/WebApi.dll
      Restart=always
      RestartSec=5
      EnvironmentFile=/opt/elasticbeanstalk/deployment/env
      Environment="PATH=/usr/local/bin:/usr/bin:/bin"
      SyslogIdentifier=web
      
      # Ensure old processes are killed before restart
      KillSignal=SIGINT
      KillMode=control-group
      TimeoutStopSec=30
      
      # Clean up old PIDs and ports before start
      ExecStartPre=/bin/bash -c 'fuser -k 5000/tcp || true'
      ExecStartPost=/bin/sh -c "systemctl show -p MainPID web.service | cut -d= -f2 > /var/pids/web.pid"
      ExecStopPost=/bin/sh -c "rm -f /var/pids/web.pid"
      
      [Install]
      WantedBy=multi-user.target
commands:
  enable_service:
    command: systemctl enable pulr-webapp.service
    ignoreErrors: true
  start_service:
    command: systemctl start pulr-webapp.service
    ignoreErrors: true
