files:
  "/etc/pki/tls/certs/server.crt":
    mode: "000644"
    owner: root
    group: root
    content: |
      -----BEGIN CERTIFICATE-----
      MIIDazCCAlOgAwIBAgIUGvQLjyE9sY9Cfczj0emsN3derREwDQYJKoZIhvcNAQEL
      BQAwRTELMAkGA1UEBhMCQVUxEzARBgNVBAgMClNvbWUtU3RhdGUxITAfBgNVBAoM
      GEludGVybmV0IFdpZGdpdHMgUHR5IEx0ZDAeFw0yNTA2MjYxNDUxMzdaFw0yNjA2
      MjYxNDUxMzdaMEUxCzAJBgNVBAYTAkFVMRMwEQYDVQQIDApTb21lLVN0YXRlMSEw
      HwYDVQQKDBhJbnRlcm5ldCBXaWRnaXRzIFB0eSBMdGQwggEiMA0GCSqGSIb3DQEB
      AQUAA4IBDwAwggEKAoIBAQCZjGD/d+N758dTRG2CYwO0TyPG+o//hMRcWSwcK9NR
      biUm7/MJ7IZKu0NeABKQb7nRceTR8MAEiEVa6ZJ4LZwYCEzfmfMXHZCJgaJDUG+r
      F3Gmo5kJoXIpcglZLcltnbFTJp2+pZ11tqlL+iwOKX1hfWK118EoLxffDJDnrcvz
      ggV54S6srd9zlPH6Ni0jHfq4UKqQc4mXuLA4lEIDD+9YUkq3oTERKX1GRl5bai+J
      pxMB3va4XsXh/qMCUc6EGpzl6Wuohi17MLo9iW+IL3ggoiXiSiGEEkpvmQBXmmuX
      MnzmueAjshtjRBBQBZbqzuKX6Y/mebs2bJyc4oFCVi6RAgMBAAGjUzBRMB0GA1Ud
      DgQWBBTZJN0oH06PX1j30PiadQCm5co+bzAfBgNVHSMEGDAWgBTZJN0oH06PX1j3
      0PiadQCm5co+bzAPBgNVHRMBAf8EBTADAQH/MA0GCSqGSIb3DQEBCwUAA4IBAQAZ
      D1W1gu5t+cg7eoh2IpUYH4oa8lIryNvE4qRkfhQRCYpKdMQhmHii0YyuYb1TPqAg
      9XeFjD8kY2H26J1WuRo4mERb1YDc2WTpcmHB8zp0f7QMrRQESrYzKeQ/hP0A2ceg
      8EHjhXxdMeY+DX5gPB0mGOD0280GmTs/ZHvHBPPtQVFb9yy2yxCJ9GbaFQTlbMq+
      7RIBEu1BZO/kZDsHLhmczvK/7ogdyIx+WbLYrrlFoNp2eW+EmuOJLhm3EUBvTGb8
      ITAM1rHYHxJyEjoRrJ+hSunsCHMm4zL/iG73arrchYNk2pOZdNJzSoWoUBb4s5BH
      2U8Gac72vCAGRkOGJnZz
      -----END CERTIFICATE-----
  "/etc/pki/tls/private/server.key":
    mode: "000400"
    owner: root
    group: root
    content: |
      -----BEGIN RSA PRIVATE KEY-----
      MIIEvgIBADANBgkqhkiG9w0BAQEFAASCBKgwggSkAgEAAoIBAQCZjGD/d+N758dT
      RG2CYwO0TyPG+o//hMRcWSwcK9NRbiUm7/MJ7IZKu0NeABKQb7nRceTR8MAEiEVa
      6ZJ4LZwYCEzfmfMXHZCJgaJDUG+rF3Gmo5kJoXIpcglZLcltnbFTJp2+pZ11tqlL
      +iwOKX1hfWK118EoLxffDJDnrcvzggV54S6srd9zlPH6Ni0jHfq4UKqQc4mXuLA4
      lEIDD+9YUkq3oTERKX1GRl5bai+JpxMB3va4XsXh/qMCUc6EGpzl6Wuohi17MLo9
      iW+IL3ggoiXiSiGEEkpvmQBXmmuXMnzmueAjshtjRBBQBZbqzuKX6Y/mebs2bJyc
      4oFCVi6RAgMBAAECggEAISSd40a7gYk8CwsgIB7DM+5JKK/42QyNXemZjdMf39nI
      hykP6rp1GjhliCq31xlmoIDXBUHUEKZhYgg8p1gg80cHYNRYFks5YZTrs1/vWpzK
      2U9Cv0Nr4upMfkVVzyVUm0AgmIAjBr+Qt2eejsgB2kM4RUv203emzWxm8rse5MZ8
      VI0uuUra/UQl35BDzO1+SzQLKOSHnTLNe1p3pwSBYuE74AiU49FWqpFe08ygH/9D
      JIfGbHYMlTK8nle6xTn72BzGrCXewwDwlngVbzGWFMD8dH5fSABaeEnD+3bYAGy1
      S8FOUBdHiXXIPcHd9MhnCEVbmEngFkR0yMow4Cm+4QKBgQDHZUsRn+zBXHhV5R4r
      1NHakp3Z2SiEzv/3ciYRI+2X4qvsyrMrMCUYvtfcf06J09YcQOaCt2mSZvmRhU2P
      oC0Zv5HiKz8Q9tcAVwjlbuEBnVOMWFwZf50ifSFm/AkxDcvwB0a9rkcC+uSVHG7D
      TWS/8P33YSEGqARCmuPZJWz2vQKBgQDFIzeyTiDYc2wI7EOz5sudZun35anD7evj
      Q5cSZ9YAUMsNzigY+29DxnHZGjDJNIrfKLjX0oxv1FvdYrvD4srIbF22R+HAdbvI
      dgkHV9TKuur42NFVZLQ7zldhq0mlihNPJ1s1izbpDXdNY2ZCbdlmJEDDPHYfy+Qw
      N6ccCSyOZQKBgHFMnk5CeC4bFAmCqhUv1ZqECwu5OCvWz11UUEsXBi9yzkw7lXkp
      3zpjXpbdA8yPQS9GtXR7MZLNzmugukStOFNUJlnERw6lo99+lQCBc3sOYWXy40pd
      1/S781noRnTIKSSXjdvEBnesBmyv/kQdWu0xy61gVHrKx7js+CDwAi1lAoGBAIu8
      OOCEjLegqPVyM1MzxyRdLH7xJfKhlNDUuiLrwz8aBbRVawq6PtX1tgFDlU0plz4z
      aUJiFfW2ux8juyBQg5ipZ4urTBPV4DNpp2CzGzxQXfniBg/XgAHccwfiGCPkyWcT
      6Iz9jwCG8QfD61ou7yh9jgJVuw0ywx6CdEtlHVYZAoGBAIh3uxUZc9Br7Ft4SPMF
      0EIG5Aw44PqNtsxcbDVE2ux8ri2SH6MTNJQyVv/ejhkv/VQ647t/uuyz1iMKQeiK
      BgsPP63UX7G/4p5ngh3yK77NrZ+3a81HASP+asx/JPXy7Zk6rDGn04xisgwnqJzP
      +GgFPWK+59nvzBKYUKA75iy7
      -----END RSA PRIVATE KEY-----

container_commands:
  01_reload_nginx:
    command: "service nginx reload"
